<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>L.I.L.Y</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
</head>
<body>
    <header>
        <div class="center">
            <div class="logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
            <nav class="menu">
                <a href="contas/templates/contas/home.html">Home</a>
                <a href="#">Sobre</a>
                <a href="#">Menu</a>
                <a href="#">What?</a>
            </nav>
        </div>
    </header>
    <section class="sobre">
        <div class="extra">
            <img src="{% static 'images/lily.png' %}" alt="Lily">
        </div>

        <div class="social-media">
            <a href=""><img src="{% static 'images/github.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/instagram.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a>
        </div>

        <div class="center">
            <div class="texto-sobre">
                <h1>Estamos desenvolvendo para vocês<br/><span style=" color: #90EE90;">O melhor bot já visto</span></h1>
                <p> Agora é {{agr}}</p>
            </div>
        </div>

    </section>
</body>
</html>
