<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre L.I.L.Y</title>
    {% load static %}
    <link href="{% static 'css/sobre.css' %}" rel="stylesheet" >
</head>
    <body>
        <header>
            <div class="center">
                <div class="logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
                <ul class="menu">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="{% url 'waifu' %}" class="nav-link">Waifu</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Sair</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="lista">
                <div class="texto-sobre">
                    <h1>Olá, {{ request.user.username }} , seja muito bem vindo(a)</h1>
                    <h2>Listagem</h2>
                    {% for Carta in Cartas %}
                        <li> <span style="color: #90EE90;">{{Carta.nome}}</span> - {{ Carta.data }} - {{Carta.valor}} - {{Carta.categoria}} - <a href="{{Carta.imagem}}">{{Carta.imagem}}</a></li>
                    {% endfor %}
                </div>
            </div>
        </header>

    <script src="{% static 'js/jquery-3.6.4.min.js'%}"></script>

    {% block scripts %}

    {% endblock %}
    </body>
</html>