<!DOCTYPE html>
<html>
<head>
    <title>Página de Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Nome de Usuário:</label>
        <input type="text" name="username" id="id_username" required>
        <label for="id_password">Senha:</label>
        <input type="password" name="password" id="id_password" required>
        <button type="submit">Entrar</button>
    </form>
    <p>Não possui uma conta? <a href="/registro/">Registre-se</a></p>
</body>