<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuário</title>
</head>
<body>
    <h1>Perfil de Usuário</h1>
    <p><strong>Foto de Perfil:</strong> {{ request.Perfil.IMG_Perfil }}</p>
    <p><strong>Nome de Usuário:</strong> {{ request.user.username }}</p>
    <p><strong>Nome Completo:</strong> {{ request.Perfil.nome_completo }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    <p><strong>Informações Adicionais:</strong> {{ request.Perfil.descricao_perfil }}</p>
    <h2>Alterar Senha</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="id_senha_antiga">Senha Antiga:</label>
        <input type="password" name="senha_antiga" id="id_senha_antiga" required>
        <label for="id_nova_senha">Nova Senha:</label>
        <input type="password" name="nova_senha" id="id_nova_senha" required>
        <label for="id_confirmar_senha">Confirmar Senha:</label>
        <input type="password" name="confirmar_senha" id="id_confirmar_senha" required>
        <button type="submit">Salvar</button>
    </form>



    {% block scripts %}

    {% endblock %}
</body>
</html>